.card {
    width: 18rem;
    height: 3.5rem;
    border-radius: 0.8rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    background-color: rgba(239, 239, 239, 0.24);
    /* display: flex; */
    align-items: center;
    /* justify-content: space-around; */
    padding: 0 1rem;
    font-size: 0.6rem;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    scale: 1.05;
}

.left {
    position: relative;
    display: flex;
    align-items: center;
}

.name {
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

.right {
    text-align: right;
    /* background-color: green; */
}

.img {
    height: 2rem;
    width: 2rem;
    background-color: rgba(232, 232, 232, 0.718);
    border-radius: 50%;
}